<!--The content below is only a placeholder and can be replaced.-->


<div>
<nav class="navbar navbar-expand-md">


<div class="collapse navbar-collapse" id="navbarsExampleDefault" true="isCollapsed">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" routerLink="">Home
<span class="sr-only">Arpan</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link" routerLink="/registration">Registration</a>
</li>
<li  class="nav-item">  <a class="nav-link" routerLink="/login" routerLinkActive="active">login</a></li>
 <li  class="nav-item"> <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
  <li  class="nav-item"><a class="nav-link" routerLink="/emp" routerLinkActive="active">Category</a></li>
<li  class="nav-item"><a class="nav-link" routerLink="/expense" routerLinkActive="active">ExpenseList</a></li>
</ul>

</div>
</nav>
</div>

<router-outlet></router-outlet>

